<div class="scraper-base">
    <div class="header">
      <header>
        <a href="default.asp">Refresh</a>
        <img src="mcImage.png">
      </header>
    </div>
    <div class="scraper-body">
      <div style="text-align:left">
        <h1>
           Webdriver Test Finder
        </h1>
        <h3>Search for tests using keyword(s)</h3>
      </div>
      <div>
        <table>
          <div class="row">
            <div class="col-md-6">
              <div class="form">
                <input [(ngModel)]="keyword"
                       class="form-control"
                       type="search"
                       id="search1"
                       aria-label="Search"
                       placeholder="keyword">
                <label for="search1"></label>
              </div>
            </div>
          </div>
          <label
            class="switch">
            <input [(ngModel)]="andOrToggle"
              type="checkbox">
            <span class="slider round"></span>
          </label>
          <div class="row">
            <div class="col-md-6">
              <div class="form">
                <input [(ngModel)]="keywordTwo"
                       class="form-control"
                       type="search"
                       id="search2"
                       aria-label="Search"
                       placeholder="optional keyword">
                <label for="search2"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="checkbox-container">
              <form ngForm>
                <input [(ngModel)]="validation"
                       type="checkbox"
                       name="validation-tests"
                       id="validationTests"> I want to search Validation Tests<br>
                <input [(ngModel)]="functional"
                       type="checkbox"
                       name="functional-tests"
                       id="functionalTests"> I want to search Functional Tests<br>
                <input [(ngModel)]="testPaths"
                       type="checkbox"
                       name="test-paths"
                       id="testPaths"> I want paths compatible with test runner config<br>
              </form>
            </div>
          </div>
        </table>
        <div class="button-container">
          <button class="main-buttons" (click)="sendKeywordsToScraper()">Search for Tests</button>
        </div>
      </div>
      <div class="form">
        <h3>Results from Keyword Search</h3>
        <div class="col-md-6">
          <div class="form">
                <label id='total-tests'> Total tests found using keyword(s): {{testList.length}}
                </label>
          </div>
          <div class="results-box">
                <textarea [value]="testList"
                          rows="13"
                          cols="100"
                          id='results'
                          style="margin: 0px;
                          width: 570px;
                          height: 180px;"
                          placeholder="Results...">
                </textarea>
          </div>
      </div>
      </div>
      <button class="main-buttons" (click)="copyTestResults()">Copy Results</button>
    </div>
    <div class="footer">
      <footer>
        <!--        -->
      </footer>
    </div>
</div>


